@font-face {
  font-family: freight;
  src: url(/ASSETS/freight_text_bold-webfont.woff);
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  background: #242629;
  text-align: center;
}
figure {
  display: flex;
  justify-content: center;
  height: 9.6rem;
  margin-top: 4rem;
}
figure img {
  width: 9.6rem;
  border-radius: 50%;
  object-fit: cover;
}
.tittle {
  margin-top: 3rem;
}
.tittle h1 {
  font-family: "freight", Times, serif;
  color: #f1f1e6;
  font-weight: 700;
  font-size: 1.6rem;
}
.tittle p {
  color: #f1f1e6;
  font-weight: 400;
  font-size: 1.4rem;
}

.btn {
  background-color: #f1f1e6;
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 1.6rem 2rem;
  border-radius: 0.1rem;
  border: 2px solid white;
  margin-top: 3rem;
  margin: 20px auto 20px auto;
  display: block;
  max-width: 600px;
  max-height: 80px;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: #242629;
  color: #f1f1e6;
  border-color: #f1f1e6;
}
.sm {
  display: block;
  margin: 30px 10px 30px 10px;
}
.sm img {
  width: auto;
  height: 2rem;
  object-fit: contain;

  margin: auto 10px auto 10px;
}

.sm img:hover {
  transform: scale(1.1);
}
footer {
  margin-top: 100px;
  margin-bottom: 50px;
}
h3 {
  color: #f1f1e6;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "freight", Times, serif;
}
h3 a {
  color: #df701f;
}
h3 a:hover {
  color: #f1f1e6;
}
@media screen and (max-width: 768px) {
  .btn {
    max-width: 400px;
    max-height: 80px;
  }
}
@media screen and (max-width: 500px) {
  .btn {
    max-width: 300px;
    max-height: 100px;
  }
}
